<div
    class="tab-pane fade show active"
    id="show-image"
    role="tabpanel"
    aria-labelledby="home-tab"
>
    <!-- DataTales Example -->
    <div class="row">
        <% item.imageId.forEach(image => { %>
        <div class="col-md-4">
            <div class="card shadow mb-4 mt-2">
                <div class="card-body">
                    <img
                        src="https://backend-staycation-bwa/<%= image.imageUrl %> "
                        alt="image"
                        style="width: 100%; display: block"
                    />
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <a href="/admin/items" class="btn btn-warning">Back</a>
</div>
