<!-- Modal -->
<div
	class="modal fade"
	id="add-modal"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">
					Add Bank
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="/admin/bank" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="form-group">
						<label for="name-edit">Name Bank</label>
						<input
							type="text"
							class="form-control"
							id="name-bank-add"
							aria-describedby="emailHelp"
                            placeholder="Name Bank"
                            name="nameBank"
							required
						/>
					</div>
					<div class="form-group">
						<label for="name-edit">No Rekening</label>
						<input
							type="text"
							class="form-control"
							id="norek-add"
							aria-describedby="emailHelp"
                            placeholder="Nomor Rekening"
                            name="nomorRekening"
							required
						/>
					</div>
					<div class="form-group">
						<label for="name-edit">Name</label>
						<input
							type="text"
							class="form-control"
							id="name-add"
							aria-describedby="emailHelp"
                            placeholder="Name"
                            name="name"
							required
						/>
					</div>
					<div class="form-group">
						<label for="name-edit">Image</label>
						<input
							type="file"
							class="form-control"
							id="image-add"
							aria-describedby="emailHelp"
                            name="image"
							required
						/>
					</div>
					<div class="form-group form-check">
					</div>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary"
						data-dismiss="modal"
					>
						Close
					</button>
					<button type="submit" class="btn btn-primary">
						Add
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
